<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/RSA_Helper.svg" width="75" height="75"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Start of the page -->
  <div id="topStyle">
    <h1 style="font-size: 50px;">Sign Up or Log In</h1>
    <ion-button [routerLink]="['/signup']" size="large" shape="round">
      <ion-icon slot="start" name="person-outline" style="margin-left: -100px; color:black;"></ion-icon>
      Sign Up</ion-button>
    <h1 style="font-size: 50px; margin-top:75px;">OR</h1>
    <ion-button [routerLink]="['/login']" size="large" color="light" shape="round">
      <ion-icon slot="start" name="log-in-outline" style="margin-left: -100px; color:black;"></ion-icon>
      Log In</ion-button>
  </div>

  <!-- Contact information -->
  <div id="bottomStyle">
    <h2>Contact</h2>
    <p>If you have any questions, email 
    me to:</p>
    <p>Email: G00419414&#64;atu.ie</p>

    <!-- Social media links -->
    <ion-icon name="logo-instagram" (click)="onInstagram()" style="color:rgba(255, 0, 0, 0.5);" class="contactIcon"></ion-icon>
    <ion-icon name="logo-facebook" (click)="onFacebook()" style="color:blue;" class="contactIcon"></ion-icon>
    <ion-icon name="logo-github" (click)="onGitHub()" class="contactIcon"></ion-icon>
  </div>

</ion-content>