/* Input field styles */
ion-input{
    width: 90%;
    margin-left: 15px;
    font-size: 18px;
    letter-spacing: 2.5px;
}

/* Div styles */
div{
  font-size: 20px;
}

/* Div styles */
.movingRight{
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Forgot Email Link styles */
.styleLink{
    margin-left: 70px;
    font-size: 21px;
    text-decoration: none;
    --color-hover: red;
}

/* Forgot Password Link styles */
.styleLink2{
    margin-left: 35px;
    font-size: 21px;
    text-decoration: none;
}

/* Button styles */
  ion-button{
    width: 379px;
    height: 75px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 35px;
  }