ion-input{
    width: 90%;
    margin-left: 15px;
    font-size: 18px;
    letter-spacing: 2.5px;
}

div{
  font-size: 20px;
}

.movingRight{
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.styleLink{
    margin-left: 70px;
    font-size: 21px;
    text-decoration: none;
}

.styleLink2{
    margin-left: 35px;
    font-size: 21px;
    text-decoration: none;
}

ion-content::part(background) {
    background: #cde7e4;
  }

  ion-button{
    width: 379px;
    height: 75px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 35px;
  }