ion-input{
    width: 90%;
    margin-left: 15px;
    background-color: white;
    border-radius: 10px;
}

div{
  font-size: 20px;
}

.movingRight{
    margin-left: 20px;
}

.styleLink{
    margin-left: 90px;
}

.styleLink2{
    margin-left: 40px;
}

ion-content::part(background) {
    background: #cde7e4;
  }

  ion-button{
    --background: orange;
    --background-hover: red;
    --background-activated: red;
    --background-focused: red;
    border-radius: 50%;
    width: 90%;
    height: 50px;
    margin-left: 15px;
    margin-top: 20px;
  }

  ion-icon{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: 45px;
  }
  
  #bottomStyle{
    width: auto;
    height: auto;
    margin-top: -50px;
    background:rgba(166, 238, 250, 71%);
    margin-top: 100px;
  }