<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/RSA_Helper.svg" width="75" height="75"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="movingRight">
    <h2>Log in</h2>
    <p>with your MyRoadSafety account</p>
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Important</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- If you dont have an account, please register first. -->
        If you dont have an account, please <a [routerLink]="['/signup']" style="text-decoration: none;">register</a>
        first.
      </ion-card-content>
    </ion-card><br>
  </div>
  
  <!-- Login Form -->
  <div (change)="onInputChanged()">
    <ion-card color="success" style="box-shadow: 10px -5px 15px rgb(0, 255, 0, 0.25);">

      <!-- Email and Password Input -->
    <br><ion-input [(ngModel)]="inputEmail" type="email" label="Email" label-placement="floating" fill="outline" 
    helper-text="Please enter an email address" error-text="Invalid Email" inputmode="email" clear-input="true" ngModel email>
    </ion-input><br><br>

    <ion-input [(ngModel)]="inputPassword" type="password" label="Password" label-placement="floating" fill="outline" [counter]="true" maxlength="20"></ion-input><br>
  </ion-card>

    <!-- Login Button -->
    <ion-button [disabled]="loginDisabled" (click)="loggedIn()" shape="round" style="text-indent: 25px;" class="orangeBtn">
      <ion-icon slot="start" name="log-in-outline" style="margin-left: -100px;"></ion-icon>Login
    </ion-button><br><br>

    <!-- Forget Email and Password -->
    <a [routerLink]="['/forgot-email']" class="styleLink">Forget Email</a>
    <a [routerLink]="['/forgot-password']" class="styleLink2">Forget Password</a><br><br>

    <h1 style="text-align: center;">OR</h1>
    <!-- Register Button -->
    <ion-button [routerLink]="['/signup']" class="whiteBtn" shape="round" style="text-indent: 25px;">
      <ion-icon slot="start" name="person-outline" style="margin-left: -50px;"></ion-icon>Register
    </ion-button>
  </div>

  <!-- Contact -->
  <div id="bottomStyle">
    <h2>Contact</h2>
    <p>If you have any questions, email 
    me to:</p>
    <p>Email: G00419414&#64;atu.ie</p>
    
    <!-- Social Media -->
    <ion-icon name="logo-instagram" (click)="onInstagram()" style="color:rgba(255, 0, 0, 0.5);" class="contactIcon"></ion-icon>
    <ion-icon name="logo-facebook" (click)="onFacebook()" style="color:blue;" class="contactIcon"></ion-icon>
    <ion-icon name="logo-github" (click)="onGitHub()" class="contactIcon"></ion-icon>
    </div>
</ion-content>
