/* Progress Bar */
ion-progress-bar{
    width: 300px;
    height: 15px;
    border-radius: 7.5px;
}

/* Ion Content Background */
ion-content::part(background) {
  background: #fbfbfb;
}

/* Div Style */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  
  /* Top Eclipse */
  .top-eclipse {
    position: absolute;
    top: 0;
  }
  
  /* Bottom Eclipse */
  .bottom-eclipse {
    position: absolute;
    bottom: 0;
  }
  
  /* Left Eclipse */
  .left-eclipse {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Right Eclipse */
  .right-eclipse {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Center Content */
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 350px;
    height: 500px;
  }