  /* Button Style */
  ion-button{
    width: 170px;
    height: 50px;
    font-size: 20px;
    margin-left: 30px;
  }

/* Profile Heading Style */
.profileHeading{
  text-align: start;
  letter-spacing: 1.5px;
  font-size: 20px;
  color: white;
}

/* Bold Text Style */
#boldStyle{
  color: blue;
  font-family: 'Times New Roman', Times, serif;
}

/* Card Style */
ion-card{
  --background: orange;
  box-shadow: 10px -5px 15px rgba(0, 0, 0, 0.25);
}

/* Profile Icon Styles */
.profileIcons{
  width: 40px;
  height: 40px;
  margin-left: -50px;
}

/* Home Button Style */
.homeBtn{
  --color: black;
  --background-activated: orange;
  --color-activated: white;
}