/* Ion-Cotent background color */
ion-content::part(background) {
  background: #cde7e4;
}

/* Input Style */
ion-input{
  width: 90%;
  margin-left: 15px;
  background-color: white;
  padding-top: 30px;
  margin-top: 45px;
  font-size: 18px;
  height: 60px;
  letter-spacing: 2.5px;
}

/* Button Style */
ion-button{
  margin-left: 20px;
  width: 180px;
  font-size: 25px;
  margin-top: 45px;
}

/* Card Style */
ion-card{
  margin-top: -100px;
  padding-top: 50px;
  height: 500px;
  background-color: rgba(0, 255, 0, 0.3);
}


/* div Style */
div{
margin-top: 200px;
}

/* Forgot Password Card Style */
.fp_CardStyle{
  box-shadow: 10px -5px 15px rgba(0, 255, 0, 0.25);
}