ion-content::part(background) {
  background: #cde7e4;
}

ion-input{
  width: 90%;
  margin-left: 15px;
  background-color: white;
}

ion-button{
  margin: 30px;
  width: 150px;
}

ion-card{
  margin-top: -100px;
  height: 300px;
  background-color: rgba(0, 255, 0, 0.3);
}

.buttonFP{
  --background: orange;
}

div{
margin-top: 250px;
}