<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/RSA_Helper.svg" width="75" height="75"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Forgot Password Form -->
  <div (change)="checkInputChanged()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Forgot Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Enter the email you used to register. We will send a verification link to that address.
      </ion-card-content>

    <!-- Email and New Password Input -->  
    <ion-input [(ngModel)]="inputEmail" type="email" label="Email" label-placement="floating" fill="outline" helper-text="
    Please enter an email address" error-text="Please enter your email address correctly"></ion-input><br>

    <ion-input [(ngModel)]="inputNewPassword" type="password" label="Password" label-placement="floating" fill="outline"></ion-input>
    </ion-card>

    <!-- Back Button to login page-->
    <ion-button [routerLink]="['/login']" color="light"shape="round">
      <ion-icon slot="start" name="arrow-back-outline" style="margin-left: -50px; color:black;"></ion-icon>Back
    </ion-button>

    <!-- Submit Button -->
    <ion-button class="buttonFP" [disabled]="forgotPasswordDisabled" (click)="forgotPassword()"shape="round">
      <ion-icon slot="start" name="person-outline" style="margin-left: -50px; color:black;"></ion-icon>Submit
    </ion-button>

  </div>
</ion-content>
