ion-content::part(background) {
  background: #cde7e4;
}

ion-input{
  width: 90%;
  margin-left: 15px;
  background-color: white;
  padding-top: 30px;
  margin-top: 45px;
}

ion-button{
  margin-left: 20px;
  width: 180px;
  font-size: 25px;
}

ion-card{
  margin-top: -100px;
  padding-top: 50px;
  height: 500px;
  background-color: rgba(0, 255, 0, 0.3);
}

.buttonFP{
  --background: orange;
}

div{
margin-top: 250px;
}