<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/RSA_Helper.svg" width="75" height="75"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Forgot Password Form -->
  <div (change)="checkInputChanged()">
    <ion-card class="fp_CardStyle">
      <ion-card-header>
        <ion-card-title style="font-size: 35px;">Forgot Password</ion-card-title>
      </ion-card-header>
      <ion-card-content style="font-size: 20px;">
        Enter the email you used to register. We will send a verification link to that address.
      </ion-card-content>

    <!-- Email -->  
    <ion-input [(ngModel)]="inputEmail" type="email" label="Email" label-placement="floating" fill="outline" helper-text="
    Please enter an email address" error-text="Please enter your email address correctly"></ion-input><br>

    <!-- New Password-->
    <ion-input [(ngModel)]="inputNewPassword" type="password" label="Password" label-placement="floating" fill="outline"></ion-input>
    </ion-card>

    <!-- Back Button to login page-->
    <ion-button [routerLink]="['/login']" class="whiteBtn" shape="round">
      <ion-icon slot="start" name="arrow-back-outline" style="margin-left: -25px;"></ion-icon>Back
    </ion-button>

    <!-- Sign Up Button -->
    <ion-button id="buttonFP" [disabled]="forgotPasswordDisabled" (click)="forgotPassword()"shape="round" class="orangeBtn">
      <ion-icon slot="start" name="person-outline" style="margin-left: -25px;"></ion-icon>Sign Up
    </ion-button>

  </div>
</ion-content>
