ion-content::part(background) {
    background: #cde7e4;
  }

  ion-input{
    width: 90%;
    margin-left: 15px;
    background-color: white;
}

h2{
  margin-top: 20px;
}

div{
margin-top: 100px;
}

#styleBackButton{
  color: orange;
  margin-top: 20px;
  margin-left: 10px;
  width: 45%;
}

#styleSubmitButton{
  --background: orange;
  margin-top: 20px;
  margin-right: 10px;
  width: 45%;
}