ion-input{
    width: 90%;
    margin-left: 15px;
    background-color: white;
    margin-top: 45px;
    font-size: 18px;
    height: 60px;
    letter-spacing: 2.5px;
}

.fe_CardStyle{
  background-color: #86E8AC;
  width: 92%;
  height: auto;
}

ion-button{
  width: 180px;
  margin-left: 30px;
}

h2{
  margin-top: 20px;
}

div{
margin-top: 100px;
}

#styleBackButton{
  margin-top: 20px;
  margin-left: 10px;
  text-indent: 25px;
}

#styleSubmitButton{
  margin-top: 20px;
  margin-right: 10px;
  text-indent: 25px;
}