<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/RSA_Helper.svg" width="75" height="75"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <h2><b>Forgot Email</b></h2>
  <p>Hint: This is the email address you used to register on MyRoadSafety</p>
  <div (change)="checkInputChanged()">
    <!-- What is your PPSN -->
    <ion-input [(ngModel)]="inputPPSN" label="PPSN" label-placement="floating" fill="outline"></ion-input><br>

    <!-- Date of Birth -->
    <ion-input [(ngModel)]="inputDOB" type="date"></ion-input><br>

    <!-- New Email -->
    <ion-input [(ngModel)]="inputNewEmail" type="email" label="New Email" label-placement="floating" fill="outline" helper-text="
    Please enter an email address" error-text="Please enter your email address correctly"></ion-input><br>

    <ion-button color="light" (click)="goBack()" id="styleBackButton">Back</ion-button>
    <ion-button [disabled]="forgotEmailDisabled" (click)="forgotEmail()" id="styleSubmitButton">Submit</ion-button>
  </div>
</ion-content>
