<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/RSA_Helper.svg" width="75" height="75"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Forgot Email Form -->
  <div (change)="checkInputChanged()">
    <ion-card class="fe_CardStyle">
      <ion-card-header>
        <ion-card-title>Forgot Email</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Hint: This is the email address you used to register on MyRoadSafety
      </ion-card-content>

    <!-- What is your PPSN -->
    <ion-input [(ngModel)]="inputPPSN" label="PPSN" label-placement="floating" 
    fill="outline" placeholder="Enter your same PPSN"></ion-input><br>

    <!-- Date of Birth -->
    <ion-input [(ngModel)]="inputDOB" type="date"></ion-input><br>

    <!-- New Email -->
    <ion-input [(ngModel)]="inputNewEmail" type="email" label="New Email" label-placement="floating" fill="outline" helper-text="
    Please enter an email address" error-text="Please enter your email address correctly" placeholder="Enter your same Email"></ion-input><br>

    </ion-card>
  </div>

  <div>
    <!-- Back Button for navigate login page -->
    <ion-button class="whiteBtn" [routerLink]="['/login']" id="styleBackButton" shape="round">
      <ion-icon slot="start" name="arrow-back-outline" style="margin-left: -25px;"></ion-icon>Back
    </ion-button>

    <!-- Sign Up Button for forgot email -->
    <ion-button [disabled]="forgotEmailDisabled" (click)="forgotEmail()" id="styleSubmitButton" shape="round" class="orangeBtn">
      <ion-icon slot="start" name="person-outline" style="margin-left: -15px;"></ion-icon>Sign Up
    </ion-button>
  </div>
</ion-content>
