ion-input{
    width: 90%;
    margin-left: 15px;
    background-color: white;
    margin-top: 45px;
}

.fe_CardStyle{
  background-color: #86E8AC;
  width: 92%;
  height: 522px;
}

ion-button{
  width: 180px;
  margin-left: 30px;
}

h2{
  margin-top: 20px;
}

div{
margin-top: 100px;
}

#styleBackButton{
  color: orange;
  margin-top: 20px;
  margin-left: 10px;
}

#styleSubmitButton{
  --background: orange;
  margin-top: 20px;
  margin-right: 10px;
}