<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img src="assets/RSA_Helper.svg" width="75" height="75"/></ion-title>
    </ion-toolbar>
  </ion-header>
    
      <!-- Introdution RSA Helper-->
      <div>
        <h1>Hello {{yourName}} & Welcome to RSA Helper</h1>
        <p>Here you can check if you passed your driving test or not.</p>
      </div>
    
        <!-- Grade Faults of how many faults did you get for failing your driving test-->
        <div id="div1">
          <h3 style="text-decoration: underline;">Grade Faults:</h3>
          <ul *ngFor="let f of fault">
            <li><b>{{f.grade}}</b> {{f.para}}</li>
          </ul>
        </div>
    
        <!-- Hints => you can learn how to do better at driving-->
        <div id="div2">
          <h3 style="text-decoration: underline;">Hints:</h3>
          <ul *ngFor="let h of hint">
            <li><b>{{h.name}}:</b> {{h.hintPara}}</li>
          </ul>
        </div>
    
        <div>
          <!-- Profile Button -->
          <ion-button [routerLink]="['/profile']" shape="round">
            <ion-icon slot="start" name="person-outline" class="profileIcons"></ion-icon>
            My Profile
          </ion-button>

          <!-- Result Button -->  
          <ion-button [routerLink]="['/rsa-result']" color="light" shape="round">
            <ion-icon slot="start" name="book-outline" class="profileIcons"></ion-icon>
            Result
          </ion-button>

          <!-- Log Out Button -->
          <ion-button [routerLink]="['/loading']" shape="round">
            <ion-icon slot="start" name="log-out-outline" class="profileIcons"></ion-icon>
            Log Out
          </ion-button>
        </div>
    
        <!-- Contact -->
        <div id="bottomStyle">
          <h2>Contact</h2>
          <p>If you have any questions, email me to:</p>
          <p>Email: G00419414&#64;atu.ie</p>
          <ion-icon name="logo-instagram" (click)="onInstagram()" style="color: rgba(255, 0, 0, 0.5)" class="contactIcon"></ion-icon>
          <ion-icon name="logo-facebook" (click)="onFacebook()" style="color: rgb(0, 0, 255)" class="contactIcon"></ion-icon>
          <ion-icon name="logo-github" (click)="onGitHub()" class="contactIcon"></ion-icon>
        </div>
    </ion-content>
