/* Result Sheet Styles */
.resultSheet{
  display: block;
  margin: auto;
  padding-bottom: 15px;
}

/* Background Styles */
ion-content::part(background) {
  background: #cde7e4;
}

/* Grade Faults Styles */
#gradeFaults{
  font-size: 20px;
  height: auto;
  background-image: linear-gradient(green 0%, blue 50%, red 100%);
  text-align: left;
  color: rgb(0, 0, 0);
  padding: 15px;
}

/* Hints Styles */
#hints{
  font-size: 20px;
  width: 450px;
  height:auto;
  background-image: radial-gradient(yellow 0%, white 75%);
  margin-top: 50px;
  padding: 15px;
}

/* Button Styles */
ion-button{
  width: 300px;
  height: auto;
  font-size: 25px;
  margin-left: 125px;
  margin-top: 75px;
}