ion-button{
    width: 40%;
    height: 70px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 15px;
  }
  
  ion-content::part(background) {
    background: #cde7e4;
  }

 #footerStyle{
    --background:rgba(166, 238, 250, 71%);
  }

  div{
    font-size: 20px;
  }

  ion-icon{
    width: 35px;
    height: 35px;
  }

  .resultCardStyle{
    background: #18BD0F;
  }

